li{
    display:inline-block;
    margin-right: 10px;
}
#header{
    background: repeating-linear-gradient(white 10%, lavender 40%, white 70%);
    height:30vh;
    width:100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navanch{
    text-decoration:none !important;
    color:purple !important
}
.navanch:hover, .navanch:active{
    font-weight: bolder !important;
    font-size: larger !important;
}